<div class="root">



  <div class="container">
    <div class="row">
      <div class="col-sm-4 updateCell" *ngFor="let item of updateList" (click)="initUpdateItem(item)" >
        <div class='cellBlock'>

          <div class="updateCellImg">

          <img [src]="item.updateSrc" alt="" class="img-fluid ">
          </div>
          <p class="item_text"> {{item.text}}</p>
        <h2 class="item_price"> Price: {{item.Price|currency}}</h2>
          <p class="effectMultipier"> Effect :{{item.DeltaEffectMultipier | percent}}</p>
        </div>


      </div>



      </div>
    </div>
  </div>
