.root{
  padding-top: 60px;

}




.updateCell div.cellBlock{
  border: 3px solid #f9aa33;
  margin: 3px;
  position: relative;
  padding: 20px;
  border-radius: 10px;
  background: #344955;
  font-weight: 500;
  margin-top: 20px;
  color: white;
}

.updateCellImg{
  height: 150px;
  overflow: hidden;
}


.item_text{
  padding: 10px;
  color: #f9aa33;
}

.cellBlock{

}
