.root {
	width: 60vw;
	height: 60vh;
	margin-left: 20%;
	margin-top: 20%;
	background: white;
	position: fixed;
	z-index: 999;
	padding: 30px;
}
.mask{
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: #111;
	opacity: .6;
	height: 100vh;
	z-index: 99;
}