.root {
	width: 80vw;
	height: 80vh;
	margin-left: 10%;
	top: 15vh;
	background: white;
	position: fixed;
	z-index: 999;
	padding: 30px;
  overflow: scroll;
}
.mask{
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: .7;
	height: 100vh;
	z-index: 99;
}


.imgBlock img{
	width: 100%;
	height: auto;
}

.priceBlock{
  color: #f9aa33;
}

.textBlock{
  font-weight: 500;
  margin: 10px;
}
