.root {
  height: 100vh;
  /* border: 1px solid #333; */
  width: 300px;
  position: fixed;
  right: 0px;
  top: 0;
  margin-top: 50px;
  overflow-y: scroll;
  padding: 10px;
  background: white;
  box-shadow: -3px 3px 5px 0px #aaa;

  padding-bottom: 60px ;
}








.modeState {
  height: 40px;
  color: white;
  background: #344955;
}

.modeState div div {

  vertical-align: middle;
}

.modeState :hover {

  background: #333;
}


.highlight{
	background: #eee;
	color: #444;
}

.type{
  margin: 10px 5px;
  background: #344955;
  color: white;
  font-weight: 500;
}




.highlightX{
  background: #f9aa33 !important;
  color: #344955 !important;
}
.mainHeader{
  margin: 10px;
  /*4a6472*/

}


.moneyBlock {
  background: #4a6472;
  color: #f9aa33;
  padding: 10px;
}

.storageButton{
  margin: 10px;
}


.editeMode {
  background: #4a6472;
  color: #f9aa33;
}

.editeMode h4{
  padding: 5px;
}
.modeIcon{
  margin: 5px;
  text-align: center;
}


.dropDownList{
  padding: 12px;

  border: 2px solid #f9aa33;
  border-radius: 5px;
  margin-top: 20px;

}

.actionPrice{
  font-weight: 500;
}

.actionInput *{
  display: inline-block;
  margin: 5px;
}

.actionInput input{
  height: 25px;
  width: 25px;
}


.timeBlock{
  margin-top: 20px;
  margin-bottom: 20px;
}
