<div class="root">
	

	<h3 class="mainHeader">Filter</h3>


<div class="timeBlock">
  <app-force-time></app-force-time>
</div>




  <div class="constainer-fluid moneyBlock">
    <h4>Balance</h4>
    {{Storage.MoneyBalance | currency}}
  </div>




  <div *ngIf="mode === 'ground'">


  <div class="container-fluid storageButton">

    <button routerLink="/storage" class="bassicBtn" >Show Store</button>


    <button routerLink="/updates" class="bassicBtn" >Updates</button>

    <button routerLink="/factory" class="bassicBtn" >Factory</button>

  </div>







<div class="container-fluid editeMode">
	<h4>mode</h4>
	<div class="row modeState">
		
		<div class="col-md-4" (click)="setAction('plant')" [ngClass]="{highlight: this.viewFieldState.Status == 'plant'}" >
			<div class="modeIcon">
				
			
			<i class="material-icons">brush</i>
			</div>

		</div>

		<div class="col-md-4" (click)="setAction('dig')" [ngClass]="{highlight: this.viewFieldState.Status == 'dig'}">
			<div  class="modeIcon">
				
			<i class="material-icons">edit</i>
			</div>

		</div>

		<div class="col-md-4" (click)="setAction('water')" [ngClass]="{highlight: this.viewFieldState.Status == 'water'}">
			<div  class="modeIcon">
				
			<i class="material-icons">details</i>
			</div>

		</div>
	</div>
 </div>


<div class="selectSeed dropDownList" *ngIf="activeTab.Status === 'plant'">
	<h4> Plants</h4>

	<div class="type" *ngFor='let row of seedAtlas' (click)="setActiveSeed(row.name)" [ngClass]="{highlightX: selectedSeed.seed ==  row.name}">

		<div class="row">
			<div class="col-md-4">
				<img [src]="row.src" class="img-fluid">
			</div>
			<div class="col-md-4">
				{{row.name}}
			</div>
			<div class="col-md-3">{{row.price|currency}}</div>


		</div>
	</div>

</div>

<div class="selectDig dropDownList" *ngIf="activeTab.Status === 'dig'">



	<div class="actionPrice">

  Price: {{Storage.DigPrice | currency}}
  </div>

  <div class="actionInput">

    <mat-checkbox (click)="click__DigBox()">Activate filter</mat-checkbox>

  </div>

</div>
<div class="selectWater dropDownList" *ngIf="activeTab.Status == 'water'">
  <div class="actionPrice">

    Price:{{Storage.WaterPrice |currency}}
  </div>

  <div class="actionInput">

    <mat-checkbox (click)="click__WaterBox()" >Activate filter</mat-checkbox>


  </div>
</div>


<div class="filterList">
	


</div>





</div>



  <div *ngIf="mode === 'factory'">
  <h1>Factory</h1>



    <div class="factoryProductList">




      <mat-checkbox [(ngModel)]="activateModeSetFactory" (click)="setActionFactory('plant')"> Building Mode</mat-checkbox>

      <mat-checkbox [(ngModel)]="destructModeActivate" (click)="setActionFactory('dig')"> Destruct Mode</mat-checkbox>


      <div class="selectSeed dropDownList" >


        <div class="type" *ngFor='let row of factoryProductList' (click)="setActiveFactory(row.name)" [ngClass]="{highlightX: selectedFactory.selectedFactory ==  row.name}">

          <div class="row">
            <div class="col-md-4">
              <img [src]="row.src" class="img-fluid">
            </div>
            <div class="col-md-4">
              {{row.text}}


            </div>
            <div class="col-md-3">{{row.price|currency}}</div>


          </div>
        </div>

      </div>






    </div>


  </div>


</div>
