<div class="root">
	

	<h3>Filter</h3>
<div class="container-fluid">
	<div class="row modeState">
		
		<div class="col-md-4" (click)="setAction('plant')" [ngClass]="{highlight: this.viewFieldState.Status == 'plant'}" >
			<div class="modeIcon">
				
			
			<i class="material-icons">brush</i>
			</div>

		</div>

		<div class="col-md-4" (click)="setAction('dig')" [ngClass]="{highlight: this.viewFieldState.Status == 'dig'}">
			<div  class="modeIcon">
				
			<i class="material-icons">edit</i>
			</div>

		</div>

		<div class="col-md-4" (click)="setAction('water')" [ngClass]="{highlight: this.viewFieldState.Status == 'water'}">
			<div  class="modeIcon">
				
			<i class="material-icons">details</i>
			</div>

		</div>
	</div>
 </div>


<div class="selectSeed" *ngIf="this.viewFieldState.Status == 'plant'"> 
	<h4> Plants</h4>

	<div class="type" *ngFor='let row of seedAtlas' (click)="setActiveSeed(row.name)" [ngClass]="{highlightX: selectedSeed.seed ==  row.name}">

		<div class="row">
			<div class="col-md-4">
				<img [src]="row.src" class="img-fluid">
			</div>
			<div class="col-md-4">
				{{row.name}}
			</div>
			<div class="col-md-3">{{row.price|currency}}</div>


		</div>
	</div>

</div>





</div>
