<div class="root">
	

	<h3>Filter</h3>


  <div class="constainer-fluid">
    <h4>Money</h4>
    {{storage.MoneyBalance}}
  </div>


  <div class="container">

    <button routerLink="/storage" >Show Store</button>
  </div>







<div class="container-fluid">
	<h4>mode</h4>
	<div class="row modeState">
		
		<div class="col-md-4" (click)="setAction('plant')" [ngClass]="{highlight: this.viewFieldState.Status == 'plant'}" >
			<div class="modeIcon">
				
			
			<i class="material-icons">brush</i>
			</div>

		</div>

		<div class="col-md-4" (click)="setAction('dig')" [ngClass]="{highlight: this.viewFieldState.Status == 'dig'}">
			<div  class="modeIcon">
				
			<i class="material-icons">edit</i>
			</div>

		</div>

		<div class="col-md-4" (click)="setAction('water')" [ngClass]="{highlight: this.viewFieldState.Status == 'water'}">
			<div  class="modeIcon">
				
			<i class="material-icons">details</i>
			</div>

		</div>
	</div>
 </div>


<div class="selectSeed" *ngIf="activeTab.Status === 'plant'">
	<h4> Plants</h4>

	<div class="type" *ngFor='let row of seedAtlas' (click)="setActiveSeed(row.name)" [ngClass]="{highlightX: selectedSeed.seed ==  row.name}">

		<div class="row">
			<div class="col-md-4">
				<img [src]="row.src" class="img-fluid">
			</div>
			<div class="col-md-4">
				{{row.name}}
			</div>
			<div class="col-md-3">{{row.price|currency}}</div>


		</div>
	</div>

</div>

<div class="selectDig" *ngIf="activeTab.Status === 'dig'">



	price: 1$

	<input type="checkbox" name=""  (click)="click__DigBox()">

</div>
<div class="selectWater" *ngIf="activeTab.Status == 'water'">
	price:1.5$
	<input type="checkbox" name=""  (click)="click__WaterBox()">
</div>


<div class="filterList">
	


</div>





</div>
