.root {
  height: 20vh;
  min-height: 300px;
  background: white;
  border: 1px solid #333;
  width: 250px;
  position: fixed;
  right: 40px;
  top: 10%;
  overflow-y: scroll;
  padding: 10px;
}

.modeState {
  height: 40px;
  color: white;
  background: #777;
}

.modeState div div {

  vertical-align: middle;
}

.modeState :hover {

  background: #333;
}


.highlight{
	background: #eee;
	color: #444;
}

.type{
  margin: 10px 5px;
  background: #555;
  color: white;
}
.highlightX{
  background: #000 !important;
}