.root{
	background: #344955;
	color: white;
	text-align: center;
	font-size: 25px;
	height: 50px;
	width: 100%;
  position: fixed;
  top:0;
}
.root h4{
  vertical-align: middle;
  padding-top: 10px;
}
