<div class="root">
  <div class="close" (click)="closeSellWindow()"> <i class="material-icons">
    close
  </i></div>

 <h3>
   Sell Menu
 </h3>

  <div class="container">
    <div class="row">



  <div class="nameItem col-md-6"> Name: {{sellProduct.name}} </div>
  <div class="nameItem col-md-6" > Price: {{sellProduct.price | currency}} </div>
  <div class="nameItem col-md-6"> In Stock: {{sellProduct.quantity}} </div>

  <div class="inputQuantity col-md-6">

    <input type="text" [(ngModel)]="ToSellQ" (keyUp)="checkSellLimit()">
  </div>

    </div>
    <div class="row buttonBlock">
  <div class="col-md-3"></div>
  <button (click)="sellAll()" class="bassicBtn col-md-4"> SellAll</button>
  <button (click)="confirmSell()" class="bassicBtn col-md-4" > Confirm</button>

    </div>
  </div>
</div>


<div class="fullMask" (click)="closeSellWindow()"></div>
