.fullMask{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  opacity: .7;
  z-index: 10;
}
.root{
  position: fixed;
  top: 30%;
  width: 400px;
  height: 250px;
  background-color: #fff;
  z-index: 99;
  margin-left: 50%;
  left: -200px;
  padding: 40px;
}
.close{
  position: absolute;
  left: 10px;
  top: 10px;
}

.buttonBlock{
  margin-top: 20px;
}
