 .imgBlock img{
	width: 150%;
	height: auto;
	overflow: hidden;
}

 @keyframes rootInitCell {
   from {


     opacity: .7;
   }
   to {


     opacity: 1;
   }
 }


 .root {
  position: relative;
   animation-name: rootInitCell;
   animation-duration: .7s;
   animation-iteration-count: 1;
   animation-direction: alternate;
	}

.digStatus, .waterStatus{
  text-align: center;
  background: white;
  opacity: .6;
  color: #000;
  padding-top: 40px;
  z-index: 3;
  width: 100px;
  height: 100px;
  vertical-align: middle;

  position: absolute;
  top: 0;
}

