.cellBlock{
	display: inline-block;
	width: 100px;
	height: 100px;
	overflow: hidden;

	/*border: 1px solid white;*/
	    margin-top: -15px;
}

.rowBreake{
	clear: both;
}.root {
   overflow: scroll;
   background-image: url("../../../assets/grass.png");

   min-height: 100vh;
   height: 100%;
   background-size: 30%;
 }
 .subRoot{


  margin-right: 250px;
}


.cellContainer{
	transform: rotate3d(111,48,26,-45deg);

  margin: 300px;
}
