/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; color: #4a6472 }

button.bassicBtn{
  background: #f9aa33;
  color: white;
  border-radius: 5px;
  border: none;
  height: 40px;
  padding: 5px 10px;
  margin: 5px;
}

button.bassicBtn:disabled{
  background: #4a6472;

}
button.bassicBtn:hover{
  color: #ccc;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */

  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
